body {
  background-color: black;
  font-family: 'Playfair Display', serif;
  margin-top: 20em;
}

.franchesca {
  color: #98FF98;
}

.is {
  margin-left: 3em;
  position: absolute;
  top: 1.8em;

}

.graphic {
  margin-left: 3em;
  position: absolute;
  top: 3.5em;
}

.designer {
  margin-left: 3em;
  margin-top: 1em;
  position: absolute;
  top: 4.5em;
}

.bio {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-top: 1em;
}

.email {
  font-family:'Lato', sans-serif;
  font-weight: 300;
  margin-top: 6em;
  margin-right: 7em;
  color: #98FF98;
}

div {
  color: #F1F2F2;
}

h1, h2 {
  font-size: 2em;
}

.wrapper {
  position: relative;
  min-height: 11em;
  overflow: hidden;
}

/*BOXES*/
.box1 {
  height: 10em;
  background-color: black;
  box-shadow: 0px 0px 30px #000;
  position: absolute;
  top: 2em;
  width: 100%;
}

.box2 {
  height: 10em;
  background-color: black;
  box-shadow: 0px 0px 30px #000;
  position: absolute;
  top: 4.8em;
  width: 100%;
}

.box3 {
  height: 10em;
  background-color: black;
  box-shadow: 0px 0px 30px #000;
  position: absolute;
  top: 7.5em;
  width: 100%;
}

.box4 {
  height: 10em;
  background-color: black;
  box-shadow: 0px 0px 30px #000;
  position: absolute;
  top: 10.8em;
  width: 100%;
}
/*SOCIAL MEDIA*/
.socialmedialist {
  list-style-type: none;
  margin-right: 4.5em;
  margin-top: -1em;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #474448;
}

a:hover {
  color: #E12E2E;
}

.socialmedialist li {
  display: inline-block;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 38em) {

  body {
    margin-top: 17em;
  }

  .wrapper {
    min-height: 14em;

  }

  .is {
    top: 1.8em;
    margin-left: 2.5em;
  }

  .graphic {
    top: 3.3em;
    margin-left: 2.5em;
  }

  .designer {
    top: 4em;
    margin-left: 2.5em;
  }

  .box1 {
    top:2.7em;

  }

  .box2 {
    top: 6.7em;
  }

  .box3 {
    top: 10.3em;
  }

  .box4 {
    top:14em;
  }

  .bio {
    margin-top: 3em;
    margin-right: 9em;
  }

  .email {
    margin-right: 8.5em;
  }

  .socialmedialist {
    margin-right: 12.2em;
  }

}

@media only screen and (min-width: 60em) {

  body {
    margin-top: 14em;
  }

  .email {
    margin-top: 3.5em;
  }

}

@media only screen and (min-width: 90em) {

  body {
    margin-top: 11em;
  }

}
