body, html {
  height: 100%;
}

.hero-image {
  background-image: url('../images/franback.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Lato', sans-serif;
}

.hero-text p {
  color: #aeaeae;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  margin-top: -1em;
}

h1 {
  font-size: 19px;
}

h2 {
  color: #e1e1e1;
  font-weight: 300;
}

footer {
  font-family: 'Lato', sans-serif;
  background-color: black;
  padding: 2em;
}

footer a {
  text-decoration: none;
  color: #9500ff;
}

footer a:hover {
  color: #eeeeee;
}

footer p{
  color: #e1e1e1;
  margin-top: -1em;
  font-weight: 300;
}

.tuned {
  color: #9500ff;
  
}

.btn{
  background-color: transparent;
  color: white;
  border-color: #white;
}

.btn:hover {
  color: #9500ff;
  background-color: transparent;
  border-color: #9500ff;
}

form label{
  color: white;
  text-align: left;
  font-weight: 300;
}

form {
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 608px) {

  h1{
    font-size: 30px;
  }

}

@media only screen and (min-width: 960px) {

  h1{
    font-size: 40px;
  }

  form {
    width: 70%;
  }

}

@media only screen and (min-width: 1440px) {

  h1{
    font-size: 60px;
  }

  form {
    width: 60%;
  }

  .hero-text p{
    margin-top: 0;
  }

}

@media only screen and (min-width: 2550px) {

  h1{
    font-size: 70px;
  }

  form {
    width: 50%;
  }

}
